* {
	margin: 0;
	padding: 0;
	font-family: 'Khula', sans-serif;
	font-size: 16px;
	color: #EFDAC7;
}
p {
    line-height: 1.8;
}
.goldline {
    background-color: #ffc700;
    height: 10px;
}

.inlinelink {
    color: #ffc700;
    font-weight: 600;
}

.header {
	position: relative;
}

.logo {
	height: 120px;
	float: left;
    padding: 5px 0;
}

.first {
	width: 110px;
    padding: 10px 0;
	float: right;
    margin-right: 30px;
}
.nav ul {
	list-style-type: none;
	overflow: hidden;
	background-color: #6d3415;
}

.nav li {
	float: left;
	font-size: 19px;
    box-sizing: border-box;
}

.nav li a {
	display: block;
	color: #EFDAC7;
	text-align: center;
	padding: 12px 4px 1px 4px;
	margin: 0px 12px 0px 12px;
	text-decoration: none;
	position: relative;
	font-size: 19px;
    border-bottom: 3px solid transparent;
    line-height: 1;
}

.nav li a:hover {
	color: #ffc700;
	border-bottom: 3px solid #ffc700;
}

.nav li {
	margin-top: 40px;
	font-weight: bold;
}

body {
	background-color:#3a2720;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.clear {
	clear: both;
}

#team .picture {
	width: 100%;
}

#team .members {
	display: inline-block;
	padding: 15px 2%;
	vertical-align: top;
}

#team h2 {
	font-size: 19px;
	color: #ffc700;
}

#team h3 {
	font-size: 15px;
}

#team .grid-inner {
	text-align:center;
}
#aboutfirst .aboutfirst p {
    text-align: left;
    font-weight: 400;
}
#aboutfirst .aboutfirst h4 {
    text-align: left;
    color: #ffc700;
    font-weight: 600;
    line-height: 40px;
    font-size: 19px;
}
#schedule iframe {
	display: block;
	margin: auto;
	width: 100%;
	height: 600px;
}
#contact .person {
	display: inline-block;
	margin: 0px 50px 30px 50px;
	line-height: 1.6;
    font-weight: 600;
}

#contact .person h1 {
	font-size: 19px;
}

#contact p {
	font-size: 13px;
	font-weight: 600;
}

#contact .location h2 {
	font-size: 19px;
}

#contact iframe {
	height: 300px;
	width: 70%;
    max-width: 100%;
	margin-top: 40px;
}
#contact .grid-inner {
    text-align: center;
}

#robot .robotpic {
    width: 50%;
    padding-bottom: 20px;
}
#robot p {
    display: inline-block;
    float: right;
    width: 48%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.l-wrap {
	max-width: 4000px;
    flex: 1 0 auto;
	padding: 2vw;
}
    
.main-grid .l-6 {
	width: 75%;/*6/8*/
	padding: 1.3vw;
	float: left;
}
.main-grid .l-5 {
	width: 62.5%;/*5/8*/
	padding: 1.3vw;
	float: left;
}
.main-grid .l-4 {
	width: 50%;/*4/8*/
	padding: 1.3vw;
	float: left;
}
.main-grid .l-2 {
    width: 25%; /*2/8*/
    padding: 1.3vw;
    float: left;
}
.main-grid .l-2p6 {
	width: 33.33333%;/*2.6/8*/
	padding: 1.3vw;
	float: left;
}
.main-grid .l-3 {
    width: 37.5%; /*3/8*/
    padding: 1.3vw;
    float: left;
}
.main-grid .l-8 {
    width: 100%; /*8/8*/
    padding: 1.3vw;
    float: left;
}

.main-grid .l-sidebar {
	width: 25%; /*2/8*/
	padding: 1.3vw;
	float: right;
}

.grid-inner,
.equal-grid-inner {
	display: block;
    float: left;
	background: #6d3415;
	border: 3px solid #382013;
	border-radius: 5px;
	padding: 20px;
    width: 100%; /*added to fix iframe*/
}

.sidebarheading h1 {
	color: #ffc700;
	font-size: 26px; /*20pt*/
	text-align: center;
	background-color: #6d3415;
}
#sidebar .lastsponsor {
    padding-bottom: 20px;
}

.heading h1 {
	color: #ffc700;
	font-size: 26px;
	background-color: #6d3415;
	margin-bottom: 20px;
	text-align: center;
}

.sponsorlogos img {
	width: 80%;
	margin: 10px 10%
}

.sponsorlogos h1 {
	font-size: 32px;
	text-align: center;
	margin-top: 20px;
}

.footer {
	background-color: #6d3415;
	width: 100%;
    padding: 20px;
    text-align: left;
}

.footer li a {
	color: #EFDAC7;
	text-decoration: none;
	font-size: 14px;
}
#footer li h6 {
    color: #ffc700;
    font-weight: 600;
    padding-bottom: 5px;
}

.footer li a:hover {
	color: #ffc700;
}

.footer li {
	margin: 0px;
	line-height: 1.2;
}

.footer ul {
    list-style-type: none;
    display: inline-block;
    vertical-align: text-top;
    padding: 0px 60px;
    text-align: left;
}

html {
	height: 100%;
}

img {
	border-radius: 4px;
}

#robotcamp .slideshow {
    position: relative;
    width: 100%;
    padding-top: 66%;
    overflow: hidden;
    display: inline-block;
    float: left;
    border-radius: 4px;
    color: red;
}
#robotcamp .slides img {
    height: 90%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
}

#robotcamp .prev,
#robotcamp .next {
	cursor: pointer;
	position: absolute;
	top: 45%;
    transform: translateY(-50%);
	padding: 6px 13.617px 4px 11.617px;
	color: white;
    background-color: rgba(0, 0, 0, 0.7);
	font-weight: bold;
	font-size: 20px;
	border-radius: 4px;
	user-select: none;
	-webkit-user-select: none;
}

#robotcamp .next {
    right: 0;
    padding: 6px 11.617px 4px 13.617px;
}

#robotcamp .prev:hover,
#robotcamp .next:hover {
	background-color: black;
}

#media #row img {
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}
#media #row video {
	height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}
#media .container {
    position: relative;
    width: 23%;
    margin: 1%;
    padding-top: 17.25%;
    overflow: hidden;
    display: inline-block;
    float: left;
    border-radius: 4px;
}

/* The Modal (background) */
#media .modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 30px;
	padding-bottom: 30px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content */
#media #modal-content {
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	margin: auto;
	padding: 0;
	height: 100%;
	width: 90%;
}

/* The Close Button */
#media .close {
	color: silver;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}

#media .close:hover,
#media .close:focus {
	color: red;
	text-decoration: none;
	cursor: pointer;
}

#media .slides {
	display: none;

}

.cursor {
	cursor: pointer
}

/* Next & previous buttons */
#media .prev,
#media .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 6px 13.617px 4px 11.617px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 6px;
	user-select: none;
	-webkit-user-select: none;
}

/* Position next and previous buttons */
#media .next {
	right: -5%;
    padding: 6px 11.617px 4px 13.617px;
}

#media .prev {
	left: -5%;
}

#media .prev:hover,
#media .next:hover {
	background-color: black;
}

#media #modal-content img {
	height: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
#media #modal-content video {
	height: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#media .year {
	font-weight: 600;
	margin: 0 20px 10px 0;
}

#aboutfirst .game img {
    width: 40%;
    display: inline-block;
    float: left;
}
#aboutfirst .game p {
    width: 60%;
    display: inline-block;
    float: left;
    padding: 0 0 40px 20px;
    font-size: 15px;
}

#home .homeimage {
    width: 100%;
}
#home p {
    text-align: center;
    font-size: 16px;
    line-height: 1.8;
    padding: 10px 0 15px 0;
}
#home .heading h1 {
    text-align: center;
    margin-bottom: 10px;
}

#sidebar .linkwrapper {
    position: relative;
    height: 34px;
}

.link,
.centerlink {
	text-decoration: none;
	color: #ffc700;
	padding: 3px 6px 0px 6px;
	background-color: #6d3415;
	border-radius: 3px;
	border: 2px solid #ffc700;
	font-weight: 600;
    display: inline-block;
    text-align: center;
}
.centerlink {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin: 20px 0;
    transform: translateX(-50%);
    white-space: nowrap;
}
#sidebar .centerlink {
    margin: 0;
}

.link:hover,
.centerlink:hover {
	background-color: #ffc700;
	color: #6d3415;
}
.equal-grid-inner {
    position: relative;

}
#team .award {
    width: 100%;
}

@media only screen and (max-width: 834px) {
    .l-wrap {
        margin: 0;
    }
    .main-grid .l-2 {
        width: 50%;
    }
    .main-grid .l-6 {
        width: 100%;
    }
    .main-grid .l-2p6 {
        width: 100%
    }
    .main-grid .l-3 {
        width: 50%
    }
    .main-grid .l-sidebar {
        width: 100%;
    }
    #sidebar .grid-inner {
        text-align: center;
    }
    
    .sponsorlogos img {
        width: 21%;
        margin: 5px 2%;
        display: inline-block;
        vertical-align: middle;
    }
    
    #sidebar .art {
        display: inline;
        font-size: 4vw;
        vertical-align: bottom;
        line-height: 2; /*to help align with images*/
        padding: 0 5%;
    }
    
    #sidebar .lastsponsor {
        padding-bottom: 10;
    }
    
    .navlinks {
        position: absolute;
        bottom: 0;
        padding-bottom: 20px;
    }
    .logo,
    .first {
        margin-bottom: 40px;
    }
    .nav li {
        margin-top: 0;
    }
    
    .footer ul {
        padding: 0px 40px;
    }

}

@media only screen and (max-width: 600px) {
    .main-grid .l-2,
    .main-grid .l-6,
    .main-grid .l-2p6,
    .main-grid .l-3,
    .main-grid .l-sidebar {
        width: 100%;
    }
    .footer ul {
        padding: 0px 5%;
    }
}

@media only screen and (max-width: 467px) {
    .footer ul:last-child {
        padding-top: 20px;
    }
    .nav li a {
        font-size: 4vw;
        margin: 0 2.4vw 0 2.4vw;
    }
}

@media only screen and (max-width: 360px) {
    .logo,
    .first {
        height: 33vw;
        width: auto;
    }
}
